<li>
  <%= gravatar_for user %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user.current_user?(user) %>
    |<%= link_to t("delete"), user_path(user.id),
      data: {confirm: t("you_sure")}, method: :delete %>
  <% end %>
</li>
